<%= form_for(store) do |f| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :Kind %><br>
        <%= f.text_field :kind %>
      </p>

      <p>
        <%= f.label :Status %><br>
        <%= f.text_field :status %>

      </p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
