<p id="notice"><%= notice %></p>
<h1>Products</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @product.each do |product| %>
      <tr>
        <td><%= product["name"] %></td>
        <td><%= product["description"] %></td>
        <td><%= product["price"] %></td>
        <td><%= product["quantity"] %></td>
        <td><%= link_to 'Comprar', json_put2_path(:id => product["id"],:name => product["name"]), method: :patch  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Product', new_product_path %><br><br>
<%= link_to 'Home Hardware', wellcome_index_path %>
